/* General style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}
/* score div */

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}
#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
    
}

/* Buttons */

.btn {
    width: 150px;
    height: 40px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.black {
    margin-top: 20px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 15px;
}

.black:active,
.black:hover {
    background-color: #0d1013;
}
/* media queries */


@media (max-width: 414px) {
    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .black {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
}
@media (max-width: 734px) {
    .scores {
        padding: 5px;
    }
}
